@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Service Bus</h1>
  
   @using (Html.BeginForm("Index", "Home", FormMethod.Post))
   {
    <table>
        <tr>
            <td colspan="5">
                <h6>@ViewBag.Msg</h6>
            </td>
        </tr>
        <tr>
            <td>Enter ConnectionString/Endpoint for service bus queue:</td>
            <td>
                @Html.TextBox("txtEndpoint", (string)ViewBag.Endpoint)
                @*<input id="txtSend" type="text" />*@
            </td>
            <td>
                @*<input id="btnSend" type="submit" name="Send" value="Send Message" />*@
            </td>
        </tr>
        <tr>
            <td>Enter Servicebus Queue Name:</td>
            <td>
                @Html.TextBox("txtQueueName", (string)ViewBag.QueueName)
            </td>
            <td>
                @*<input id="btnSend" type="submit" name="Send" value="Send Message" />*@
            </td>
        </tr>
        <tr>
            <td>Enter message for service bus queue:</td>
            <td>
                @Html.TextBox("txtSend")
            </td>
            <td>
                <input id="btnSend" type="submit" name="Send" value="Send Message" />
            </td>
        </tr>
        <tr>
            <td>Get message from service bus queue:</td>
            <td>
                @Html.TextBox("txtGet", (string)ViewBag.Qmsg2)
            </td>
            <td>
                <input id="btnGet" type="submit" name="Send" value="Get Message" />
            </td>
        </tr>
    </table>
   }

</div>

